
  {{!-- Author: Arman Dodhiya
  Student ID: 100865197
  Date Completed: 2024-04-19 --}}

  {{!-- I took help from blackbox to create this class --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">Animal Database</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../animals/all-animals.hbs">Animal List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../animals/entry-form.hbs">Entry Form</a>
        </li>
      </ul>
    </div>
  </div>
</nav>