<%- include('../ partials/header.ejs')%>
<main>
    <div class="container">
        <h1>List All Animals, provided during server side rendering.</h1>
    </div>
    <div class="conatiner">
        <table id="animal-server-table" class="table table 
            <thead>
                <th>Animal Name</th>
                <th>Number of heads</th>
                <th>Number of legs</th>
                <th>Sound the Animal Makes</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <% for (list all animals) { %>
        <tr>
    
    }
    
    <%

    <script type="module" src="/js/animals.retrieve.js">
    <%- include('../partials/footer.ejs') %>